.site__footer {
	min-height: 50vh;
	position: relative;

	@include bp($b_desktop) {
		.wrapper:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: calc(50% - 50vw);
			right: calc(50% - 50vw);
			bottom: 0;
			z-index: -1;
			opacity: 1;
			transition: 0.5s transform ease-in-out;
			min-height: 50vh;
		}
		#text-2,
		#text-3 {
			transition: 0.25s opacity ease-in-out, 0.5s transform ease-in-out;
		}
		&.hover {
			#text-2,
			#text-3 {
				opacity: 0;
				transform: translateY(100vh);
			}
			.wrapper:before {
				transform: translateX(56%);
			}
			#location_exterior {
				transform: translateX(0vw);
			}
		}
		& > * {
			position: relative;
			z-index: 2;
		}
		#location_exterior {
			background-size: cover;
			background-position: center center;
			position: absolute;
			top: 0;
			left: calc(50% - 50vw);
			right: 33%;
			bottom: 0;
			z-index: -2;
			min-height: 50vh;
			transform: translateX(-100vw);
			transition: 0.5s transform ease-in-out;
		}

	}
	.mdi & {
		background-color: $c_mdi;
		.wrapper:before {
			background-color: $c_mdi;
		}
	}
	.vic & {
		background-color: $c_vic;
		.wrapper:before {
			background-color: $c_vic;
		}
	}
	.wic & {
		background-color: $c_pink_light;
		.wrapper:before {
			background-color: $c_pink_light;
		}
	}
	p + p {
		text-indent: initial;
		margin: auto auto 1.5rem;
	}
	.wrapper {
		// overflow: hidden;
		padding: 5vh $d_default_gutter;
	}
}



#map {
	font-family: Lato;
	canvas {
		opacity: 0.1;
	}
	.vic & {
		background-color: $c_blue;
	}
	.mdi & {
		background-color: mix($c_gold, white, 50);
	}
	.wic & {
		background-color: $c_pink;
	}

	.mapboxgl-popup-content {
		background: transparent;
		box-shadow: none;
	}

	.mapboxMarker {
		padding: 0.5rem;
		color: white;
		font-size: 0.8rem;
		border-radius: 0.5rem;
		max-width: 10rem;
		text-align: center;
		font-weight: bold;
		position: relative;
		top: 1rem;
		&.combined {
			padding: 0;
			&#markerMain:before {
				background-image: url($p_svg + 'map-pin-2-up.svg');
				width: 9rem;
				left: -5rem;
				right: -5rem;
				height: 6rem;
				top: -10.8rem;
			}
			a {
				padding: 0.5rem;
				display: block;
				width: 100%;
				&[href*=womens] {
					border-radius: 0 0 0.5rem 0.5rem;
					background-color: $c_pink_light;
				}
			}
		}
		&#markerVIC {
			background-color: $c_navy;
			&:before {
				background-image: url($p_svg + 'map-pin-blue.svg');
			}
		}
		&#markerMain {
			background-color: $c_gold;
			&:before {
				background-image: url($p_svg + 'map-pin.svg');
			}
		}
		&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				width: 5rem;
				height: 5rem;
				left: 0;
				right: 0;
				margin: auto;
				top: -9rem;
				background-position: center center;
				background-repeat: no-repeat;
		}
		a {
			color: white;
			text-decoration: none;
			font-weight: normal;
		}
	}

	.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
		// border-radius: 50%;
		top: 3rem;
	}

	.mapboxgl-popup-anchor-top .mapboxgl-popup-content {
		// border-radius: 50%;
		top: -0.5rem;
	}

	.mapboxgl-popup-tip {
		position: relative;
		border: none;
		display: none;
	}

	.mapboxgl-popup-close-button {
		display: none;
	}
}

.footer__social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	a {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		position: relative;
		margin-right: $d_default_gutter;
		svg {
			width: 60%;
			position: absolute;
			top: -5vh;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
	}
}

.vic .footer__social a {
	background-color: mix($c_navy, white, 70);
	svg path,
	svg polygon {
		fill: $c_navy !important;
	}
}

.mdi .footer__social a {
	background-color: mix($c_gold, white, 70);
	svg path,
	svg polygon {
		fill: $c_gold !important;
	}
}

.wic .footer__social a {
	background-color: $c_wic;
	svg path,
	svg polygon {
		fill: $c_pink_light !important;
	}
}


#badges {
	margin: 0 auto;
	padding: 5vh 0;
	background: $c_gold;
	float: left;
	width: 100%;
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

	}
	.mdi & {
		background-color: $c_gold;
	}
	.vic & {
		background-color: $c_navy;
	}
	.wic & {
		margin-top: 5vh;
		background-color: $c_pink_light;
	}
	img {
		flex: 0 1 5rem;
		height: 5rem;
		margin: 0.5rem;
		mix-blend-mode: luminosity;
	}
}
#footer__widgets {
	padding: 0px;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0;
	overflow-y: hidden;
	@include bp($b_laptop) {
		justify-content: space-between;
	}
	li {
		flex: 1 1 18rem;
		// margin-bottom: $d_default_gutter;
		@include bp($b_laptop) {
			flex-grow: 0;
		}
		h2 {
			color: white;
			font-size: 2rem;
			font-weight: 100;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.widget {
		// Location widget
		display: flex;
		flex-flow: column nowrap;
		.textwidget {
			flex: 1 1 auto;
		}
	}
}

.mapboxgl-ctrl-attrib {
	display: none;
}
.mapboxgl-interactive {
	// pointer-events: none;
}

footer .wpcf7-form {
	max-width: 90%;
	.wpcf7-form-control {
		width: 100%;
	}
	p {
		color: white;
		font-family: Lato;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	input,
	textarea {
		background: transparent;
		border: none;
		border-bottom: 2px solid;
		line-height: 1.5;
		margin-top: 1rem;
		color: rgba(black, 0.8);
	}
	textarea {
		height: 4rem;
	}
	input[type=submit] {
		border: none;
		padding: 0.5rem 1rem;
		font-family: inherit;
		color: white !important;
	}
}

.mdi {
	footer .wpcf7-form {
		input,
		textarea {
			border-bottom-color: mix($c_white, $c_gold, 50);
			color: $c_white;
		}
		input[type=submit] {
			background: mix($c_white, $c_gold, 50);
			color: $c_gold;
		}
	}
}

.wic {
	footer .wpcf7-form {
		input,
		textarea {
			border-bottom-color: $c_pink;
			color: $c_white;
		}
		input[type=submit] {
			background: $c_pink;
			color: $c_pink;
		}
	}
}


.vic {
	footer .wpcf7-form {
		input,
		textarea {
			border-bottom-color: $c_blue;
			color: $c_blue;
		}
		input[type=submit] {
			background: $c_blue;
			color: $c_navy;
		}
	}
}

.wff-feed-wrapper {
	height: 100%;
	#wff-id {
		// height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	a {
		.wic & {
			color: $c_pink !important;
		}
		.vic & {
			color: $c_blue !important;
		}
		.mdi & {
			color: $c_white !important;
		}
	}
}

#footer_location {
	text-align: center;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	figure {
		width: 14rem;
		height: 14rem;
		border-radius: 50%;
		background-size: cover;
		border: 8px solid;
		margin: 0 auto 1rem;
	}
	address {
		color: white;
		font-style: normal;
		// font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	a {
		// font-size: 1.5rem;
		display: block;
		float: left;
		width: 100%;
		text-decoration: none;
		color: white;
	}

	.mdi & {
		figure {
			border-color: mix($c_gold, white);
		}
	}
	.wic & {
		figure {
			border-color: $c_pink;
		}
	}
	.vic & {
		figure {
			border-color: mix($c_navy, white, 70);
		}
	}
}

#colophon {
	width: 100%;
	font-size: 0.85rem;
	padding: 2rem 0;
	font-family: Lato;
	position: relative;
	z-index: 9;
	.mdi & {
		background-color: mix($c_gold, white);
	}
	.vic & {
		background-color: $c_blue;
		color: $c_navy;
	}
	.wic & {
		background-color: $c_wic;
		color: white;
	}
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	img {
		height: 2.95rem;
	}
	.copyright {
		font-size: 0.75rem;
	}
	.credit {
		width: 15rem;
		span,
		img {
			float: left;
		}
		img {
			position: relative;
			left: -0.5rem;
		}
		span:first-of-type {
			color: white;
		}
		span:last-of-type {
			text-transform: lowercase;
			font-size: 75%;
			letter-spacing: 0.4em;
			font-variant-ligatures: none;
			font-feature-settings: "liga" 0;
			.mdi & {
				color: $c_mdi;
			}
			.vic & {
				color: $c_vic;
			}
			.wic & {
				color: $c_pink_light;
			}
		}
	}
}

footer #wff-id {
	.wff-fb-item {
		position: relative;
		position: relative;
		padding-right: 3rem;
	}
	.wff-facebook-feed-title-div {
		display: none;
	}
	.wff-author-wrapper {
		float: left;
		clear: none;
		margin: 0;
	}
	.wff-post-text {
		clear: none;
		margin-top: 0;
		color: white;
	}
	.wff-author-wrapper,
	.wff-post-text {
		// float: none;
	}
	.wff-author-image img {
		border: 4px solid;
		border-radius: 50%;
	}
	.wff-more-link,
	.more-content,
	.wff-less-link {
		color: white;
	}
	.wff-view-on-facebook {
		margin: 0;
		a {
			color: white;
			position: absolute;
			top: 2rem;
			right: 0;
			margin: auto;
			height: 2rem;
			width: 2rem;
			font-size: 0;
			&:before {
				content: '';
				background-image: url($p_svg + 'facebook.svg');
				font-size: 1rem;
				width: 2rem;
				height: 2rem;
				display: block;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}
