.menu.menu--primary {
	padding: 1rem 0;
	.menu--primary.menu__list--level-0 {
		display: none;
	}
	.menu--primary--mobile {
		display: block;
		margin: 0 auto;
	}
	@include bp($b_tablet) {
		padding: 0;
		.menu--primary.menu__list--level-0 {
			display: flex;
		}
		.menu--primary--mobile {
			display: none;
		}
	}
	a,
	span {
		padding: #{$d_default_gutter / 2};
		color: white;
		display: block;
		text-decoration: none;
		transition: .25s color ease-in-out, .25s background-color ease-in-out;
		&:hover {
			color: white;
		}
	}
	.menu__item {
		flex: 1 1 auto;
		text-align: center;
		position: relative;
		border-top: 1px solid;
		border-bottom: 1px solid;
		&:hover a,
		&.menu__item--current a {
			background-color: white;
		}
		&.menu__item--has-children {
			&:hover {
				.menu__list--submenu {
					transform: rotate3d(1,0,0,0deg);

					.menu__item {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

.menu__list {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: $d_container_max;
	.menu__item {
		flex: 1 1 auto;
		text-align: center;
		position: relative;
	}

	.menu__list--submenu {
		position: absolute;
		width: 100%;
		transform: rotate3d(1,0,0,90deg);
		transition: 0.25s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
		z-index: 999;
		transform-origin: 0 0;
		border-left: 1px solid;
		border-right: 1px solid;
		border-bottom: 1px solid;
		border-color: transparent;
		.menu__item {
			width: 100%;
		}
	}
}

.department--mdi {
	color: $c_mdi;
}

.mdi {
	.header__call,
	.header__appointment {
		color: darken($c_mdi, 12);
	}
	.header__social {
		a {
			background-color: darken($c_mdi, 12) !important;
		}
	}
	.menu--departments:after {
		background-color: $c_mdi;
	}
	.department--mdi {
		background-color: $c_mdi;
		color: white;
	}
	.menu--primary {
		background-color: $c_mdi;
		.menu__item:hover a,
		.menu__item--current a {
			background-color: white;
			color: $c_mdi;
		}
		.menu__item {
			border-color: $c_mdi;
		}
		.menu__list--submenu {
			.menu__item:hover a,
			.menu__item--current a {
				background-color: $c_mdi;
				color: white;
			}
		}
	}
}
.department--vic {
	color: $c_blue;
}
.vic {
	.header__call,
	.header__appointment {
		color: $c_blue;
	}
	.header__social {
		a {
			background-color: $c_blue !important;
		}
		.appointment a {
			color: $c_blue;
		}
	}
	.menu--departments:after {
		background-color: $c_blue;
	}
	.department--vic {
		background-color: $c_blue;
		color: white;
	}
	.menu--primary {
		background-color: $c_blue;
		.menu__item:hover a,
		.menu__item--current a {
			background-color: white;
			color: $c_blue;
		}
		.menu__item {
			border-color: $c_blue;
		}
		.menu__list--submenu {
			.menu__item:hover a,
			.menu__item--current a {
				background-color: $c_blue;
				color: white;
			}
		}
	}
}

.department--wic {
	color: $c_wic;
}

// These important tags are because WIC doesn't have multiple pages

.wic {
	.header__call,
	.header__appointment {
		color: $c_wic;
	}
	.header__social {
		a {
			background-color: $c_wic !important;
		}
	}
	.menu--departments:after {
		background-color: $c_wic;
	}
	.department--wic {
		background-color: $c_wic;
		color: white;
	}
	.menu--primary {
		background-color: $c_wic;
		.menu__item:hover a {
			background-color: white !important;
			color: $c_wic !important;
		}
		.menu__item,
		.menu__item--current {
			border-color: $c_wic;
			a {
				background-color: $c_wic !important;
				color: white !important;
			}
		}
		.menu__list--submenu {
			.menu__item:hover a {
				background-color: $c_wic !important;
				color: white !important;
			}
		}
	}
}

.site__header {
	margin: 0 auto;
}

.header__main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: $d_container_max;
	margin: 0 auto;
	@include bp( $b_laptop ) {
		height: 8rem;
		align-items: center;
		justify-content: center;
		> * {
			flex: 1 1 33%;
			width: 33%;
		}
	}
}

.header__appointment,
.header__call {
	width: 100%;
	text-align: center;
	text-decoration: none;
	margin-top: 0.5rem;
	em {
	   display: block;
		font-style: normal;
	}
	svg {
		width: 1rem;
		height: 1rem;
		position: relative;
		top: 0.15em;
		.mdi & {
			.icon-stroke {
				stroke: darken($c_mdi, 12);
			}
			.icon-text,
			.icon-path {
				fill: darken($c_mdi, 12);
			}
		}
		.vic & {
			.icon-stroke {
				stroke: $c_blue;
			}
			.icon-text,
			.icon-path {
				fill: $c_blue;
			}
		}
		.wic & {
			.icon-stroke {
				stroke: $c_wic;
			}
			.icon-text,
			.icon-path {
				fill: $c_wic;
			}
		}
	}
	br {
		display: none;
	}
	@include bp($b_tablet) {
		width: auto;
		flex-basis: 50%;
	}
	@include bp($b_laptop) {
		flex-basis: 33%;
		position: relative;
		line-height: 1.25;
		flex: 0 1 10rem;
		&.header__call {
			text-align: left;
			svg {
				left: -3rem;
			}
		}
		&.header__appointment {
			text-align: right;
			svg {
				right: -3.5rem;
			}
		}
		em {
			font-size: 1.5rem;
		}
		svg {
			width: 3rem;
			height: 3rem;
			position: absolute;
			top: 0;
			bottom: 0;
			.mdi & {

				.icon-stroke {
					stroke: $c_mdi !important;
				}
				.icon-text,
				.icon-path {
					fill: $c_mdi !important;
				}
			}
		}
		br {
			display: initial;
		}
	}
}

// .header__call {
// 	text-decoration: none;
// 	text-align: center;
// 	line-height: 1.1;
// 	flex-basis: 50%;
// 	margin-top: $d_default_gutter;
// 	@include bp($b_tablet) {
// 		flex-basis: 33%;
// 	}
// 	br {
// 		display: none;
// 	}
// 	@include bp($b_laptop) {
// 		font-size: 1.5rem;
// 		br {
// 			display: initial;
// 		}
// 	}
// }

// .header__social {
// 	text-align: center;
// 	display: flex;
// 	flex-flow: row wrap;
// 	flex-basis: 50%;
// 	justify-content: center;
// 	margin-top: $d_default_gutter;
// 	align-items: center;
// 	line-height: 1.1;
// 	font-style: normal;
// 	text-align: right;
// 	span {
// 		float: left;
// 		display: block;
// 	}
// 	br {
// 		display: none;
// 	}
// 	@include bp($b_laptop) {
// 		flex-basis: 33%;
// 		flex-direction: column;
// 		flex-wrap: nowrap;
//
// 		font-size: 1.5rem;
// 		br {
// 			display: initial;
// 		}
// 	}
// 	a {
// 		flex: 0 1 33%;
// 		max-width: 1em;
// 		background: black;
// 		border-radius: 50%;
// 		width: 1em;
// 		height: 1em;
// 		margin-right: $d_default_gutter;
// 		position: relative;
// 		display: inline-block;
// 		top: 0.2em;
// 		@include bp($b_laptop) {
// 			height: 1em;
// 			width: 1em;
// 			max-width: 1em;
// 			padding: 0.5rem;
// 		}
// 	}
// 	.networks {
// 	}
// 	// .appointment {
// 	// 	a {
// 	// 		font-variant: small-caps;
// 	// 		text-transform: lowercase;
// 	// 		word-spacing: -0.1rem;
// 	// 		text-decoration-style: dotted;
// 	// 		text-align: center;
// 	// 		display: block;
// 	// 	}
// 	// }
// 	svg {
// 		max-width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		top: 0; right: 0; bottom: 0; left: 0;
// 		margin: auto;
// 		height: 75%;
// 		width: 50%;
// 		@include bp($b_laptop) {
// 			// height: 100%;
// 		}
// 		path,
// 		polygon {
// 			fill: white !important;
// 		}
// 	}
// }





#Logo,
#logo-wrapper {
	max-width: 10rem;
	display: block;
	margin: 0 auto;
	height: 6rem;
	order: 3;
	@include bp($b_laptop) {
		order: 0;
		flex: 0 1 33%;
		&#logo-wrapper {
			max-width: none;
			margin: {
				left: 0;
				right: 0;
			}
		}
	}
}


.menu--departments {
	position: relative;
	&:after {
		content: '';
		height: 2px;
		min-width: 100vw;
		left: -50vw;
		right: -50vw;
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
	.menu__item {
		padding-top: 8px;
		flex-basis: 33% !important;
		max-width: 33%;
		&.department--mdi {
			// order: -1;
		}
		@include bp($b_tablet) {
			flex-basis: 33% !important;
			max-width: 100%;
			&.department--mdi {
				// order: 0;
			}
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		font-variant: small-caps;
		visibility: hidden;
		position: relative;
		white-space: nowrap;
		max-width: 100%;
		display: block;
		&:before {
			display: block;
			font-size: 1rem;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			height: 1rem;
			visibility: visible;
		}
		@include bp($b_tablet) {
			white-space: normal;
			visibility: visible;
			max-width: auto;
			display: initial;
			&:before {
				display: none;
			}
		}
	}
	.department--wic a:before {
		content: 'WIC';
	}
	.department--mdi a:before {
		content: 'MDI';
	}
	.department--vic a:before {
		content: 'VIC';
	}
}

.department--wic {
	border-bottom: 2px solid $c_wic;
	@include bp($b_tablet) {
		border-bottom-width: #{$d_default_gutter / 2};
	}
	&.menu__item--current {
		background-color: $c_wic;
		color: white;
	}
}

.department--mdi {
	border-bottom: 2px solid $c_mdi;
	@include bp($b_tablet) {
		border-bottom-width: #{$d_default_gutter / 2};
	}
	&.menu__item--current {
		background-color: $c_mdi;
		color: white;
	}
}

.department--vic {
	border-bottom: 2px solid $c_blue;
	@include bp($b_tablet) {
		border-bottom-width: #{$d_default_gutter / 2};
	}
	&.menu__item--current {
		background-color: $c_blue;
		color: white;
	}
}
