#rev_slider_1_1_forcefullwidth {
	// border-bottom: 2px solid $c_gold;
}
.home__tagline,
.vic__tagline {
	max-width: #{$d_container_max - 10rem};
	text-align: center;
	margin: 0 auto;
	font-size: 1.25rem;
	padding: 0 $d_default_gutter;
}

.home__departments,
.vic__services,
.wic__services {
	max-width: $d_container_max;
	margin: 5vh auto 5vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0 $d_default_gutter;
	@include bp($b_laptop) {
		padding: 0;
	}
	div {
		flex: 1 1 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		margin-bottom: $d_default_gutter;
		@include bp( $b_laptop ) {
			flex-basis: 33%;
			max-width: 33%;
			padding: 0 #{$d_default_gutter * 2};
		}
		&.wic {
			figure {
				svg {
					background-image: url($p_images + 'wic.jpg');
					path {
						fill: $c_wic;
					}
				}
			}
			figcaption,
			.button {
				// background-color: $c_wic;
			}
		}
		&.mdi {
			figure {
				svg {
					background-image: url($p_images + 'mdi.jpg');
					path {
						fill: $c_mdi;
					}
				}
			}
			figcaption,
			.button {
				// background-color: $c_mdi;
			}
		}
		&.vic {
			figure {
				svg {
					background-image: url($p_images + 'vic.jpg');
					path {
						fill: $c_vic;
					}
				}
			}
			figcaption,
			.button {
				// background-color: $c_vic;
			}
		}
	}







	p {
		font-family: Lato;
		margin-top: 0;
		margin-bottom: auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.button {
		color: white;
		display: block;
		margin: 2rem auto 0;
		text-decoration: none;
		padding: 6px #{$d_default_gutter / 2};
		width: 8rem;
		text-align: center;
	}
}

.vic .rev_slider_wrapper {
	margin-bottom: 5vh !important;
}

.vic__services {
	.laser-hair-removal {
		svg {
			background-image: url($p_images + 'laser-hair-removal.png');
		}
	}
	.varicose-vein-ablation {
		svg {
			background-image: url($p_images + 'varicose-vein-ablation.png');
		}
	}
	.facial-procedures {
		svg {
			background-image: url($p_images + 'facial-services.png');
		}
	}
	svg path {
		fill: $c_blue;
	}
	a {
		text-decoration: none;
		color: $c_black;
	}
	.vic__services--all {
		margin: 3vh auto 0;
		background-color: $c_blue;
		font-family: inherit;
		padding: 0.5rem 1rem;
		border: none;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.wic__services {
	.wic__services--all {
		margin: 0 auto;
		background-color: $c_pink_light;
		font-family: inherit;
		padding: 0.5rem 1rem;
		border: none;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
	}
}


.home__about-mdi {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: $d_container_max;
	margin: 10vh auto 10vh;

	p {
		font-family: Lato;
		margin-top: 0;
		margin-bottom: auto;
	}

	div {
		flex: 1 1 100%;
		width: 100%;
		padding: 0 #{$d_default_gutter * 2};
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		margin-bottom: 1rem;
		@include bp($b_tablet) {
			flex: 1 1 33%;
			width: 33%;
		}
		&:nth-of-type(1) {
			.initial,
			.button {
				background-color: $c_blue;
			}
		}
		&:nth-of-type(2) {
			.initial,
			.button {
				background-color: $c_navy;
			}
		}
		&:nth-of-type(3) {
			.initial,
			.button {
				background-color: $c_pink;
			}
		}
	}

	.initial {
		display: block;
		margin: 0 auto;
		// background-color: $c_pink;
		color: white;
		width: 4rem;
		height: 4rem;
		text-align: center;
		border-radius: 50%;
		line-height: 4rem;
		font-size: 2.5rem;
	}
	h3 {
		text-align: center;
		color: $c_gold;
		margin-top: 1rem;
	}
	.button {
		// background-color: $c_purple;
		text-decoration: none;
		padding: 6px 0.5rem 5px;
		color: white;
		display: block;
		margin: 1rem auto 0;
		width: 8rem;
		text-align: center;
	}
}

.vic__staff {
	max-width: #{$d_container_max - 10rem};
	margin: 3rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.staff {
		padding: #{$d_default_gutter / 2};
		flex: 0 1 12rem;
		text-align: center;
		a {
			text-decoration: none;
		}
		img {
			border-radius: 50%;
			border: 8px solid $c_blue;
			margin: 0 auto $d_default_gutter;
			display: block;
			width: 12rem;
		}
		figcaption {
			margin: 0;
			font-size: 1.2rem;
			color: mix($c_blue, black);
			font-family: Lato;
		}
	}
	.vic__staff--all {
		margin: 1rem auto 15vh;
		display: block;
		width: 80%;
		text-align: center;
		background-color: $c_blue;
		color: white;
		text-decoration: none;
		font-size: 1.5rem;
		@include bp($b_laptop) {
			width: 9rem;
		}
	}
}


#look_good_feel_good {
	margin: 5vh auto;
}
#hair_removal {
	max-width: $d_container_max;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	figure {
		flex: 1 1 100%;
		max-width: 22rem;
		padding: 1rem;
		@include bp($b_laptop) {
			flex-basis: 50%;
		}
		img {
			border-radius: 50%;
			border: 1rem solid $c_blue;
			margin-bottom: 1rem;
		}
	}
	figcaption {
		@extend h3;
		text-align: center;
	}
	ul {
		padding: 0 0 0 1rem;
		margin: 0;
	}
	li {
		float: left;
		margin-right: 2rem;
	}
}
.hair_removal__learn-more {
	margin: 5vh auto 10vh;
	display: block;
	width: 9rem;
}

#love_your_legs {
	margin: 5vh auto;
}

#varicose_veins {
	max-width: $d_container_max;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	figure,
	article {
		flex: 1 1 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		@include bp($b_tablet) {
			flex-basis: 50%;
		}
	}
	article {
		padding-top: 2.5rem;
	}
}

.varicose_veins__learn-more {
	margin: 0 auto 10vh;
	display: block;
	width: 9rem;
}
