#history {
	@include bp($b_container_max) {
		width: 67%;
		float: left;
		padding-right: #{$d_default_gutter * 2};
	}
}

#timeline {
	padding: $d_default_gutter;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		border-top: 1px solid $c_mdi;
		padding-top: $d_default_gutter;
		li {
			width: 100%;
			float: left;
		}
		h2 {
			font-size: 1rem;
			float: left;
			margin: 0 #{$d_default_gutter / 2} 0 0;
			line-height: inherit;
			color: $c_mdi;
		}
	}

	@include bp($b_container_max) {
		width: 33%;
		float: right;
		border-left: 1px solid $c_mdi;
		ul {
			border-top: none;
			padding-left: $d_default_gutter;
			padding-top: 8rem;
			h2 {
				font-size: 2rem;

			}
		}

	}
}

#history-intro {
	display: flex;
	flex-flow: row wrap;
	max-width: 50rem;
	> * {
		flex: 1 1 100%;
		@include bp($b_tablet) {
			flex: 1 1 50%;
		}
	}
	div:first-of-type {
		@include bp($b_tablet) {
			padding-right: 2rem;
		}
	}
}

#history-founders {
	width: 100%;
	// padding: 2rem;
	border-radius: 50%;
	border: 8px solid $c_mdi;
	overflow: hidden;
	margin-top: 1rem;
	@include bp($b_tablet) {
		margin-top: -1rem;
	}
}
