#physician_center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 6rem;
}
#scheduling_portal,
#patient_images,
#vue_motion {
	flex: 0 1 18rem;
	margin-bottom: 2rem;
	// width: 30%;
	float: left;
	margin-bottom: 2rem;
	text-decoration: none;
	color: inherit;
	text-align: center;
	@include bp($b_tablet) {
		max-width: 50%;
		margin: 2rem 0.5rem;
	}
	@include bp($b_laptop) {
		max-width: 33%;
	}
	img {
		width: 100%;
		height: auto;
		border: 4px solid $c_mdi;
	}
	figcaption {
		text-align: center;
		font-size: 1.5rem;
	}
	a {
		background-color: $c_white;
		width: 100%;
		display: block;
		text-align: center;
		padding: #{$d_default_gutter / 2};
		text-decoration: none;
		font-size: 2rem;
		border-bottom: 3px solid gray;
	}
	figure,
	a {
		border-radius: $d_default_gutter;
	}
	figure {
		color: white;
		padding:  3rem $d_default_gutter $d_default_gutter;
		position: relative;
		margin-bottom: $d_default_gutter;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 5rem;
			height: 5rem;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			left: 0;
			right: 0;
			margin: auto;
			top: -2.5rem;
		}
	}
}

#scheduling_portal {
	figure {
		background-color: $c_gold;
		&:before {
			background-image: url($p_images + 'scheduling_portal.png');
		}
		a {
			color: $c_gold;
			border-bottom-color: darken($c_gold, 20);
		}
	}
}

#patient_images {
	figure {
		background-color: $c_navy;
		&:before {
			background-image: url($p_images + 'patient_images.png');
		}
		a {
			color: $c_navy;
			border-bottom-color: darken($c_navy, 20);
		}
	}
}

#vue_motion {
	figure {
		background-color: $c_blue;
		&:before {
			background-image: url($p_images + 'vue_motion.png');
		}
		a {
			color: $c_blue;
			border-bottom-color: darken($c_blue, 20);
		}
	}
}
