#wic_intro {
	margin: 10vh auto;
}

#dr_bauer {
	max-width: $d_container_max;
	margin: 5rem auto;
	padding: 0 1rem;
	position: relative;
	figure {
		width: 100%;
		float: left;
		margin: 0;
		padding: 0;
		img {
			width: 100%;
			margin-bottom: 1rem;
		}
		@include bp($b_mobile) {
			position: absolute;
			left: 1rem;
			top: 0;
			bottom: 0;
			width: 200px;
		}
		@include bp($b_tablet) {
			width: 300px;
		}
		@include bp($b_laptop) {
			left: 0;
			width: 400px;
		}
		figcaption {
			@extend h3;
			text-align: center;
		}
	}
	p {
		font-family: Lato;
	}
	@include bp($b_mobile) {
		padding: 0 0 0 232px;
		padding: 0 0 0 calc(200px + 2rem);
	}
	@include bp($b_tablet) {
		padding: 0 0 0 332px;
		padding: 0 0 0 calc(300px + 2rem);
	}
	@include bp($b_laptop) {
		padding: 0 0 0 432px;
		padding: 0 0 0 calc(400px + 2rem);

	}
}

#genius_header {
	padding: 0 calc(50vw - #{$d_container_max / 2} + 2rem);
}

#genius_about {
	max-width: $d_container_max;
	margin: 5rem auto 0;
	padding: 0 1rem;
	font-family: Lato;
	position: relative;
	a {
		text-decoration: none;
	}
	figure {
		img {
			max-height: 80%;
			width: auto;
			margin: 0 auto 1rem;
			display: block;
		}
		@include bp($b_mobile) {
			width: 300px;
			float: right;
			margin-left: 1rem;
		}
		@include bp($b_tablet) {
			position: absolute;
			width: 450px;
			right: 1rem;
			top: -3rem;
			bottom: -4rem;
		}
		@include bp($b_desktop) {
			// width: 300px;
		}
	}
	figcaption {
		text-align: center;
		a {
			text-decoration: none;
		}
	}
	p {
		// max-width: 35rem;
	}
	@include bp($b_tablet) {
		padding-right: 482px;
		padding-right: calc(450px + 2rem);
	}
	@include bp($b_desktop) {
		padding-left: 0;
		// padding-right: 332px;
		// padding-right: calc(300px + 2rem);
	}
}

#genius_graphics {
	display: flex;
	flex-flow: row wrap;
	max-width: $d_container_max;
	margin: 0 auto;
	padding: 0 1rem;
	min-height: 15rem;
	figure {
		flex: 1 1 100%;
		padding: 1rem;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		justify-content: flex-start;
		img {
			max-width: 12rem;
			max-height: 9rem;
			margin: 0 auto 5vh;
			width: auto;
		}
		@include bp($b_tablet) {
			flex-basis: 33%;
		}
	}
	figcaption {
		text-align: center;
		font-family: Lato;
	}
	@include bp($b_desktop) {
		padding: 0;
	}
}

#wic__scheduling {
	max-width: $d_container_max;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
	figure {
		position: relative;
		margin-bottom: 2rem;
		text-align: center;
		flex: 1 1 100%;
		img {
			left: 0;
			top: 0;
			margin: 0 auto;
		}
		figcaption {}
		h3 {
			@extend h4;
			font-family: Lato;
			font-weight: normal;
		}
		p {}
		a.button {
			background-color: $c_pink_light;
			padding: 0.5rem 3rem;
			display: inline-block;
			line-height: 1.5;
		}
		a[href*=tel] {
			@extend h2;
			white-space: nowrap;
		}
		@include bp($b_tablet) {
			padding-left: 5rem;
			padding-right: 1rem;
			flex-basis: 50%;
			max-width: 50%;
			text-align: left;
			margin-bottom: 3rem;
			img {
				position: absolute;
				width: 4rem;
				height: 4rem;
			}
		}
	}
}

#wic_fish {
	margin-bottom: 0;
	&:before {
		background: linear-gradient(to right, $c_pink_light, darken($c_pink, 20));
	}
	& + #badges {
		margin-top: 0;
	}
}


#request_appointment {
	max-width: $d_container_max;
	padding: 0 1rem;
}

.wic #map #markerMain.mapboxMarker::before {
	background-image: url('../svg/map-pin-pink.svg');
}

.wic #map #markerMain.mapboxMarker {
	background-color: $c_pink_light;
}

#wic_fish {
	// margin-bottom: 0;
	// border-top: 0.5rem solid $c_pink_light;
	// border-bottom: 0.5rem solid $c_pink_light;
}
