.page__blog {
	article {
		width: 100%;
		float: left;
	}
	.post--image {
		width: 150px;
		height: 150px;
		float: left;
		margin-right: 1rem;
	}
}


.single.single-post {
	h1 {
		@extend h3;
		color: $c_gold;
	}
	.post--image {
		margin-bottom: 1rem;
		height: 200px;
		@include bp($b_tablet) {
			float: right;
			margin-left: 1rem;
			width: 350px;
			width: 350px;
		}
	}
}
