/* =========================================
		Site
   ========================================= */



* {
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

a {
	.mdi & {
		color: darken($c_mdi, 12);
	}
	.vic & {
		color: $c_vic;
	}
	.wic & {
		color: $c_wic;
	}
	&.breadcrumb {
		padding-bottom: $d_default_gutter;
		display: inline-block;
	}
	&[href^=tel] {
		text-decoration: none;
	}
}

ul.breadcrumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
	}
}

dl,
menu,
ol,
ul {
	margin: 2rem 0;
	line-height: 1.4;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

blockquote {
	position: relative;
	font-size: 1.5rem;
	font-style: italic;
	margin: 4rem 2rem 4rem 0;
	display: inline-block;
	&:before,
	&:after {
		position: absolute;
		font-size: 8rem;
		line-height: 1;
		font-style: normal;
		color: $c_mdi;
	}
	&:before {
		content: "“";
		top: -1.8rem;
		left: -2.5rem;
	}
	&:after {
		content: "”";
		bottom: -4.4rem;
		right: -2.3rem;
	}
	p {
		margin-bottom: 2rem;
	}
	cite {
		font-style: normal;
		position: absolute;
		right: 1rem;
		top: calc(100% - 2rem);
		font-size: 1rem;
		&:before {
			content: "-";
		}
	}
}

hr {
	margin: $d_default_gutter auto;
	border: none;
	border-top: 1px solid;
	.mdi & {
		border-color: $c_mdi;
	}
	.vic & {
		border-color: $c_navy;
	}
	.wic & {
		border-color: $c_wic;
	}
	&.breaker {
		width: 100%;
		float: left;
		display: block;
		opacity: 0;
	}
}

.site {
	overflow-x: hidden;
}

.site,
.site__body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Ethos;
	line-height: 1.4;
	// font-size: 100%;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1, "liga" 1, "swsh" 1, "lnum" 1;
	cursor: default;
}

::selection {
	color: white;
	.mdi & {
		background-color: $c_mdi;
	}
	.vic & {
		background-color: $c_vic;
	}
	.wic & {
		background-color: $c_wic;
	}
}

.wrapper {
	max-width: $d_container_max;
	margin: 0 auto;
}

.mdi {
	.header__full-width {
		color: $c_mdi;
		&:before {
			background: $c_mdi;
		}
	}
	footer {

	}
}
.vic {
	.header__full-width {
		color: $c_vic;
		&:before {
			background: $c_vic;
		}
	}
	footer {

	}
}
.wic {
	.header__full-width {
		color: $c_wic;
		&:before {
			background: $c_wic;
		}
	}
	footer {

	}
}

.figure__circle {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	height: 16rem;
	width: 16rem;
	margin: 0 auto $d_default_gutter;
	svg {
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		path {
			fill: $c_gold;
		}
	}
	.mdi & path {
		fill: $c_mdi;
	}
	.vic & path {
		fill: $c_vic;
	}
	.wic & path {
		fill: $c_wic;
	}
	figcaption {
		position: absolute;
		text-align: center;
		color: white;
		width: 100%;
		height: 4.8rem;
		bottom: 0;
		padding: 0.5rem 3rem 1.5rem;
		line-height: 1.2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.header__full-width {
	// @extend h1;
	text-align: center;
	position: relative;
	color: $c_gold;
	font-weight: normal;
	font-style: italic;
	margin: calc(5vh - 0.3em) auto;
	// font-weight: bold;
	text-transform: uppercase;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100vw;
		height: 2px;
		background: $c_gold;
		z-index: -1;
		left: 0;
		right: 0;
	}
	span {
		background: white;
		padding: 0 $d_default_gutter;
	}
}


main {
	max-width: $d_container_max;
	margin: 0 auto;
	padding-top: 2.42424rem;
	padding-bottom: 2.42424rem;
	padding-left: $d_default_gutter;
	padding-right: $d_default_gutter;
	@include bp($b_mobile) {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	@include bp($b_desktop) {
		padding-left: 0;
		padding-right: 0;
	}
	p {
		max-width: 50rem;
		margin-left: 0;
	}
}

.post--image {
	width: 100%;
	height: 350px;
	background-size: cover;
	background-position: center center;
	// background-attachment: fixed;
}

button,
a.button,
input[type=button],
input[type=submit] {
	border: none;
	transition: 0.5s box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.5s bottom cubic-bezier(0.175, 0.885, 0.32, 1.275);
	border-radius: 2px;
	bottom: 0;
	// transform: translate3d(0,0,0);
	position: relative;
	text-transform: uppercase;
	font-family: Ethos !important;
	padding: 6px 1rem;
	text-align: center;
	text-decoration: none;
	&:hover {
		box-shadow: 0 3px 0 0px rgba(black, 0.5);
		bottom: 3px;
	}
	.mdi & {
		background-color: $c_gold;
		color: white;
		&:hover {
			box-shadow: 0 3px 0 0px rgba(darken($c_gold, 20), 0.8);
		}
	}
	.vic & {
		background-color: $c_blue;
		color: white;
		&:hover {
			box-shadow: 0 3px 0 0px rgba(darken($c_blue, 20), 0.8);
		}
	}
	.wic & {
		background-color: $c_pink;
		color: white;
		&:hover {
			box-shadow: 0 3px 0 0px rgba(darken($c_pink, 20), 0.8);
		}
	}
}

.wpcf7-form {
	p {
		font-family: Lato;
		flex: 1 1 50%;
		margin: 1rem 0;
		&:last-of-type {
			flex-basis: 100%;
		}
	}
	input,
	textarea {
		background: transparent;
		border: none;
		border-bottom: 2px solid black;
		height: 1.5rem;
		.mdi & {
			border-bottom-color: $c_mdi;
		}
		.vic & {
			border-bottom-color: $c_vic;
		}
		.wic & {
			border-bottom-color: $c_wic;
		}
	}
	input[type=submit] {
		border: none;
		padding: 0.5rem 1rem;
		font-family: inherit;
		height: auto;
	}
	input[type=checkbox],
	input[type=radio] {
		height: 1rem;
	}
}

.wpcf7-form-control.wpcf7-checkbox {
	display: flex;
	flex-flow: row wrap;
	.wpcf7-list-item {
		margin: $d_default_gutter $d_default_gutter 0 0;
	}
}





.page__content {
	min-height: 50vh;
	h1 {
		hyphens: none;
	}
	h1, h2, h3, h4, h5 {
		max-width: 50rem;
	}
	.wpcf7-form {
		display: flex;
		flex-flow: row wrap;
		textarea[name=questions-comments] {
			height: 6rem;
		}

	}
}
.parallax {
	min-height: 15rem;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 5vh;
	margin-bottom: 5vh;
	max-width: 100vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		mix-blend-mode: color;
	}
	.mdi &:before {
		background-color: $c_gold;
	}
	.vic &:before {
		background-color: $c_blue;
	}
	.wic &:before {
		background-color: $c_pink;
	}

	.image {
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-position: center center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		opacity: 0.5;
		background-size: cover;
		background-repeat: no-repeat;
		transform: translate3d(0,0,0);
	}
	h2 {
		text-align: center;
		width: 100%;
	}
	h2,
	blockquote {
		position: relative;
		z-index: 2;
		align-self: center;
		margin: 0 10vw;
		color: white;
		max-width: 100%;
	}
	blockquote {
		@extend h3;
		color: white !important;
		text-transform: none;
		font-variant: normal;
	}
	blockquote p {
		margin: 0;
	}
	blockquote:before,
	blockquote:after {
		color: white;
	}
	blockquote:after {
		bottom: -5.8rem;
	}
}

#administration_row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10vh;
	img {
		width: 8rem;
	}
	strong {
		color: $c_mdi;
	}
}

#departments_row {
	display: flex;
	flex-flow: row wrap;
	h3 {
		@extend h6;
		// font-size: 1rem;
		flex: 1 1 100%;
		text-align: center;
		line-height: 3;
		padding: 0.5rem;
		@include bp($b_tablet) {
			flex-basis: 33%;
		}
		&.mdi a {
			background-color: $c_mdi;
		}
		&.vic a {
			background-color: $c_vic;
		}
		&.wic a {
			background-color: $c_wic;
		}
		a {
			color: white;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}




.box__service {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	float: left;
	margin: $d_default_gutter auto;
	position: relative;
	max-width: 50rem;
	.figure__circle {
		margin: 0 auto;
		@include bp($b_tablet) {
			width: 16rem;
			float: left;
			margin-right: $d_default_gutter;
		}
	}
	h2 {
		@extend h4;
		margin-top: $d_default_gutter;
	}
	.box__content {
		text-align: center;
		@include bp($b_tablet) {
			float: left;
			text-align: left;
			width: calc(100% - 17rem);
			a {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
}


.video--service {
	float: right;
	margin-left: $d_default_gutter;
	margin-bottom: $d_default_gutter;
	max-width: 300px;
	max-width: calc(300px + 2rem);
	a {
		border-radius: 50%;
		overflow: hidden;
		display: block;
		float: left;
		border: 0.5rem solid;
		.mdi & {
			border-color: $c_mdi;
		}
		.vic & {
			border-color: $c_blue;
		}
		.wic & {
			border-color: $c_wic;
		}
		img {
			display: block;
		}
	}
	figcaption {
		margin-top: $d_default_gutter;
		text-align: center;
		display: block;
		float: left;
		width: 100%;
		font-family: Lato;
	}
}

.link--service-video {
	span {
		display: block;
		width: 100%;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.modal--video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(black, 0.5);
	animation: 1s fadeIn ease-out;
	iframe {
		border: none;
		width: 100%;
		max-width: 30rem;
		max-height: 17rem;
		height: 100%;
	}
}
.modal__close {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	margin-top: 1rem;
	color: white;
	.mdi & {
		background-color: $c_mdi;
	}
	.vic & {
		background-color: $c_navy;
	}
	.wic & {
		background-color: $c_wic;
	}
}

.post-edit-link {
	position: fixed;
	bottom: 0;
	z-index: 999;
	right: 0;
	background: rgba(255,255,255, 0.5);
	padding: 1rem;
	text-align: center;
}


.page__staff {
	padding-bottom: 2rem;
	overflow: hidden;
	.image--staff {
		float: right;
		width: 100%;
		margin-bottom: 1rem;
		@include bp($b_mobile) {
			width: 38%;
			margin-left: 1rem;
		}
	}
}

.archive--staff {
	overflow: hidden;
	.archive--item,
	.archive--item a {
		width: 100%;
		display: flex;
		float: left;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		margin-bottom: 1rem;
		text-decoration: none;
		img {
			width: 12rem;
			height: 12rem;
			border-radius: 50%;
			border: 0.5rem solid;
		}
	}
}

.box__history,
.box__staff,
.box__blog {
	width: 100%;
	float: left;
	margin: $d_default_gutter auto 4rem;
	max-width: 53rem;
	h3,
	.box__content {
		float: left;
	}
	h3 {
		width: calc(100% - 12rem);
		margin-top: 1.33rem;
		padding-bottom: $d_default_gutter;
		margin-bottom: $d_default_gutter;
		margin-right: -2rem;
		border-bottom: 1.7px dashed $c_mdi;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.box__content {
		max-width: 30rem;
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: $c_black;
		@include bp($b_tablet) {
			width: calc(100% - 13rem);
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	figure {
		float: right;
		border-radius: 50%;
		overflow: hidden;
		height: 10rem;
		width: 10rem;
		padding: 0;
		position: relative;
		left: -2rem;
		margin-left: 2rem;
		border: 6px solid $c_mdi;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 24px 8px white inset;
			background-blend-mode: color;
			z-index: 9;
			border-radius: 50%;
			background-color: rgba($c_mdi, 0.5);
		}
		img {
			height: 10rem;
			width: 10rem;
		}
	}
	&.mdi {
		h3 {
			border-bottom-color: $c_mdi;
		}
		figure {
			border-color: $c_mdi;
			&:before {
				background-color: rgba($c_mdi, 0.5);
			}
		}
	}
	&.vic {
		h3 {
			border-bottom-color: $c_vic;
		}
		figure {
			border-color: $c_vic;
			&:before {
				background-color: rgba($c_vic, 0.5);
			}
		}
	}
	&.wic {
		h3 {
			border-bottom-color: $c_wic;
		}
		figure {
			border-color: $c_wic;
			&:before {
				background-color: rgba($c_wic, 0.5);
			}
		}
	}
}

body.error404 {
	h1 {
		text-align: center;
		margin-top: 2rem;
	}
	p {
		text-align: center;
	}
	img {
		display: block;
		margin: 0 auto;
	}
}
