/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

// examples:

$c_black: #000;

$c_white: #fff;

$c_red: #f00;

$c_green: #0f0;

$c_gold: #b9a263;

$c_gold: #b9a77a;

// $c_gold: #bcaf8f;

$c_purple: #7a3f89;

$c_pink: #9c3c6c;

$c_pink_light: #e871ad;

$c_navy: #31566c;

$c_blue: #69c2c5;

$c_wic: $c_purple;
$c_wic: $c_pink;
$c_mdi: $c_gold;
$c_vic: $c_navy;
// $c_vic: $c_blue;


/* =========================================
		Colors Applied
   ========================================= */
/**
 * Prefix applied colors with $ca_
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

// examples:

// state
$ca_highlight: blueviolet;

$ca_error: $c_red;

$ca_success: $c_green;


// elements
$ca_bg_body: transparent;


// typography
$ca_txt_display: $c_white;

$ca_txt_body: $c_white;

$ca_txt_highlight: $c_white;
