/* =========================================
		Typography
   ========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

@font-face {
	 font-family: 'Ethos';
	 src: url('../fonts/ethos-regular-webfont.eot');
	 src: url('../fonts/ethos-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ethos-regular-webfont.woff2') format('woff2'),
				url('../fonts/ethos-regular-webfont.woff') format('woff'),
				url('../fonts/ethos-regular-webfont.ttf') format('truetype'),
				url('../fonts/ethos-regular-webfont.svg#Ethos') format('svg');
	 font-weight: normal;
	 font-style: normal;

}




@font-face {
	 font-family: 'Ethos';
	 src: url('../fonts/ethos-regularitalic-webfont.eot');
	 src: url('../fonts/ethos-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ethos-regularitalic-webfont.woff2') format('woff2'),
				url('../fonts/ethos-regularitalic-webfont.woff') format('woff'),
				url('../fonts/ethos-regularitalic-webfont.ttf') format('truetype'),
				url('../fonts/ethos-regularitalic-webfont.svg#ethos_regular_italicRgIt') format('svg');
	 font-weight: normal;
	 font-style: italic;

}

@font-face {
	font-family: 'Ethos';
	src: url('../fonts/ethos-bolditalic-webfont.eot');
	src: url('../fonts/ethos-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ethos-bolditalic-webfont.woff2') format('woff2'),
			 url('../fonts/ethos-bolditalic-webfont.woff') format('woff'),
			 url('../fonts/ethos-bolditalic-webfont.ttf') format('truetype'),
			 url('../fonts/ethos-bolditalic-webfont.svg#ethos_bold_italicbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;

}

@font-face {
	font-family: 'Ethos';
	src: url('../fonts/ethos-bold-webfont.eot');
	src: url('../fonts/ethos-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ethos-bold-webfont.woff2') format('woff2'),
			 url('../fonts/ethos-bold-webfont.woff') format('woff'),
			 url('../fonts/ethos-bold-webfont.ttf') format('truetype'),
			 url('../fonts/ethos-bold-webfont.svg#ethos_boldbold') format('svg');
	font-weight: bold;
	font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);

// font family
$t_font_display: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_font_body: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

// font size
$t_size_base: 16px;


h1,
h2,
h3,
h4,
h5 {
	a {
		color: inherit;
		text-decoration: none;
	}
	.mdi & {
		color: $c_mdi;
	}
	.vic & {
		color: $c_vic;
	}
	.wic & {
		color: $c_wic;
	}
	&.wic {
		color: $c_wic !important;
	}
	&.vic {
		color: $c_vic !important;
	}
	&.mdi {
		color: $c_mdi !important;
	}
}


h2 {
	// text-transform: lowercase;
	// font-variant: small-caps;

}
